<div id="invoice_wrapper">
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">

      <%= render :partial=>'invoices/invoice' %>

      <input type="button" value="Firmar" onclick="doSign('<%= url_for(:controller => 'invoices', :action=>'pdfbase64', :id=>@invoice) %>');">

      </div>
    </div>
  </div>

  <span>Consola</span>
  <br>
  <textarea id="console" rows="10">
  </textarea>
</div>

</div>

<% unless @is_pdf -%>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'haltr_sign.js', :plugin => 'haltr' %> 
  <% end %>
<% end %>
